.login {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;
  overflow: auto;
}

.heroImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/image-1.svg');
}

.logo {
  margin: 60px;
  width: 30%;
  min-width: 150px;
  z-index: 10;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.params {
  margin-top: 24px;
}

@media (width <= 768px) {
  .login {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-1.svg');
  }

  .heroImg {
    background: none;
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 45%;
    margin: 10px;
  }

  .formWrapper {
    justify-content: flex-start;
    padding: 10px;
  }
}